@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <div class="all-content-div">
       <div class="left-bar">
           @Html.ActionLink("Home", "Index",null,new { @class="left-bar-element"})<br>
           @Html.ActionLink("About me", "Index",null, new { @class = "left-bar-element" })<br>
           @Html.ActionLink("What i use", "Index", null,new { @class = "left-bar-element" })<br>
           @Html.ActionLink("My contacts", "Index", null, new { @class = "left-bar-element" })<br>
           </div>
       </div>
    

    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My site</p>
        </footer>
  
    @Styles.Render("~/Content/OwnStyles")
</body>
</html>
